/* General Styles */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #f6ba4b;
}

a {
    text-decoration: none;

}

a:visited {
    color: rgb(253, 123, 8);
}

/* Sections */
section {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Navbar Starts */
.logo img {
    width: 50px;
    height: 50px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

nav .navbar {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
}

nav .navbar .nav-links {
    line-height: 70px;
    height: 100%;
}

nav .navbar .links {
    display: flex;
}

nav .navbar .links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
}

nav .navbar .links li a {
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
    transform: rotate(180deg);
}

nav .navbar .links li .arrow {
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
    display: block;
}

.navbar .links li .sub-menu li {
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
    line-height: 40px;
}

.navbar .links li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
    display: block;
}

.navbar .search-box {
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .search-box i {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: rgb(253, 123, 8);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .search-box .input-box {
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: rgb(253, 123, 8);

    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: rgb(253, 123, 8);

}

.search-box .input-box::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: rgb(253, 123, 8);

    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}

.search-box .input-box input {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
}

.navbar .nav-links .sidebar-logo {
    display: none;
}

.navbar .bx-menu {
    display: none;
}

/* Dropdown Starts */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown End */

@media (max-width:920px) {
    nav .navbar {
        max-width: 100%;
        padding: 0 25px;
    }

    nav .navbar .logo a {
        font-size: 27px;
    }

    nav .navbar .links li {
        padding: 0 10px;
        white-space: nowrap;
    }

    nav .navbar .links li a {
        font-size: 15px;
    }
}

@media (max-width:800px) {
    .navbar .bx-menu {
        display: block;
    }

    nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background: rgb(253, 123, 8);
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }

    .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar-logo .logo-name {
        font-size: 25px;
        color: #fff;
    }

    .sidebar-logo i,
    .navbar .bx-menu {
        font-size: 25px;
        color: black;
        background-color: rgb(253, 123, 8);
    }

    nav .navbar .links {
        display: block;
        margin-top: 20px;
    }

    nav .navbar .links li .arrow {
        line-height: 40px;
    }

    nav .navbar .links li {
        display: block;
    }

    nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
    }

    nav .navbar .links li .sub-menu li {
        border-bottom: none;

    }

    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
        position: relative;
        left: 0;
    }

    .navbar .links li .sub-menu .more-sub-menu li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
        transform: rotate(0deg);
    }

    .navbar .links li .sub-menu .more-sub-menu {
        display: none;
    }

    .navbar .links li .sub-menu .more span {
        display: flex;
        align-items: center;
    }

    .links li .sub-menu .more:hover .more-sub-menu {
        display: none;
    }

    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu {
        display: none;
    }

    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu {
        display: block;
    }

    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow {
        transform: rotate(180deg);
    }

    .navbar .nav-links.show2 .links .more-arrow {
        transform: rotate(90deg);
    }
}

@media (max-width:370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }
}

/* Navbar Ends */
/* Home-page Starts */
.home-video {
    width: 100%;


}

/* most selling items */
.most-selling-items {
    margin-top: 10px;
    background-color: black;
    padding: 10px;
}

.most-selling-items-p {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}

/* Site Map Start */
#site-map {
    width: 100%;
    height: auto;
}

/* Site Map End */
/* Home-page Ends */
/* Contact-Us Starts */
.container {
    width: 85%;
    background: rgba(0, 0, 0, 0.769);
    border-radius: 6px;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contact-container {
    margin-left: auto;
    margin-right: auto;
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: rgb(253, 123, 8);
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.container .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: rgb(253, 123, 8);
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.699);
    color: #fff;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    color: white;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: rgb(253, 123, 8);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover {
    opacity: 0.7;
}

@media (max-width: 950px) {
    .container {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .container .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .container {
        margin: 100px auto;
        height: 100%;
    }

    .right-side .button {
        display: block;
    }

    .container .content {
        flex-direction: column-reverse;
    }

    .container .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .content .left-side::before {
        display: none;
    }

    .container .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}

/* Contact-Us Ends */

.home-cards {
    padding-top: 0px;
}

.products-heading {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 100px;
}


@media screen and (max-width:768px) {
    .products-container {
        padding-top: 50px;
    }
}

.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    /* padding: 50px; */
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

.products-container {
    display: flex;
    background-color: #f6ba4b;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Product Cards End */



/* footer  Start*/
footer {
    background-color: #121315;
    color: #ffffff;
    font-size: 16px;
}

footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.row {
    padding: 2em 1em;
}

.row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: stretch;
}

.fa-brands {
    color: rgb(253, 123, 8);
}


.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
}

.company-name,
.subscribe {
    color: rgb(253, 123, 8);
}

.newsletter-form {
    margin-top: 20px;
}

.quick-links>li {
    list-style: none;
    padding-top: 20px;
    text-transform: capitalize;
}

.column-links h3 {
    width: 100%;
    text-align: left;
    color: rgb(253, 123, 8);
    font-size: 1.6em;
    white-space: nowrap;
}

@media screen and (max-width:992px) {
    .column-links h3 {
        text-align: center;
    }

    .quick-links>li {
        text-align: center;
    }
}

/* ul {
list-style: none;
display: flex;
flex-direction: column;
padding: 0;
margin: 0;
}

li:not(:first-child) {
margin-top: 0.8em;
} */

ul li a {
    color: #ffffff;
    text-decoration: none;
}

ul li a:hover {
    color: rgb(253, 123, 8);

}

.about p {
    text-align: justify;
    line-height: 2;
}

input,
button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

button {
    background-color: black;
    border: 1px solid rgb(253, 123, 8);
    color: #ffffff;
}

div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
}

.social i:hover {
    color: white;
}

.row.secondary {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.row.secondary i {
    font-size: 1.8em;
    color: rgb(253, 123, 8);
    margin-bottom: 15px;
}

.row.secondary p {
    color: white;
}

.row.secondary div {
    padding: 1em 0;
    width: 100%;
}

.row.secondary div:hover {
    background-color: #25262e;
}

.copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
}

.copyright p {
    font-size: 0.9em;
    text-align: center;
}

@media screen and (max-width: 850px) {
    .row.primary {
        grid-template-columns: 1fr;
    }

    .row.secondary {
        flex-direction: column;
    }
}

/* footer   End*/
/* ---------------------about us-------------------  */
body {
    margin-top: 50px !important;
}

/* .container-team {
    width: 100%;
} */

.our-team {
    text-align: center;
    position: relative;
    color: #fff;
}

.our-team img {
    width: 100%;
    height: 100%;
}

.our-team .content {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 45%;
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: center top 0;
    transition: all 0.5s ease 0s;
    opacity: 0;
}

.our-team:hover .content,
.our-team.active .content {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
}

.our-team .content .title {
    margin: 0 0 10px;
    display: block;
    font-size: 25px;
    font-weight: 600;
}

.our-team .content .post {
    margin: 0 0 25px;
    display: block;
    font-size: 15px
}

.our-team .social {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 0;
    background-color: #F32248;
    margin-right: 5px;
    transition: all 0.5s ease 0s;
    position: relative;
}

.our-team .social li a:hover,
.our-team.active .social li a {
    border-radius: 50%;
    text-decoration: none;
}

@media screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 30px;
    }
}

/* section 2  */
* {
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
}

body {
    margin: 0;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 12pt;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bebas Neue", cursive;
}

a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover {
    transition: all 0.5s ease-in-out;
}

.we-are-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 900px;
}

@media screen and (max-width: 860px) {
    .we-are-block {
        height: 2200px;
    }
}

@media screen and (max-width: 500px) {
    .we-are-block {
        height: 2300px;
    }
}

#about-us-section {
    background: #0c4c91;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media screen and (max-width: 860px) {
    #about-us-section {
        flex-direction: column;
        justify-content: space-between;
    }
}

.about-us-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 860px) {
    .about-us-image {
        position: relative;
        width: 100%;
        height: 45%;
    }
}

@media screen and (max-width: 747px) {
    .about-us-image {
        height: 35%;
    }
}

@media screen and (max-width: 644px) {
    .about-us-image img {
        position: absolute;
        left: -220px;
    }
}

.about-us-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 40%;
    height: 80%;
    margin-right: 850px;
    margin-left: 12px;
    z-index: 2;
}

@media screen and (max-width: 1353px) {
    .about-us-info {
        margin-right: 400px;
        width: 60%;
        background: #0c4c9199;
        padding: 0px 25px 0px 0px;
    }
}

@media screen and (max-width: 1238px) {
    .about-us-info {
        margin-right: 340px;
        width: 100%;
    }
}

@media screen and (max-width: 1111px) {
    .about-us-info {
        margin-right: 270px;
    }
}

@media screen and (max-width: 910px) {
    .about-us-info {
        margin-right: 150px;
    }
}

@media screen and (max-width: 860px) {
    .about-us-info {
        margin: 0px 0px 0px 0px !important;
        padding: 0px 20px 0px 20px !important;
        width: 100%;
        height: 55%;
        align-items: center;
    }
}

@media screen and (max-width: 747px) {
    .about-us-info {
        height: 65%;
    }
}

.about-us-info h2 {
    color: white;
    font-size: 40pt;
    text-align: right;
}

@media screen and (max-width: 860px) {
    .about-us-info h2 {
        text-align: center;
    }
}

.about-us-info p {
    color: white;
    font-size: 14pt;
    text-align: right;
}

@media screen and (max-width: 860px) {
    .about-us-info p {
        text-align: center;
    }
}

.about-us-info a {
    background-color: white;
    color: #0c4c91;
    width: 180px;
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-size: 14pt;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.about-us-info a:hover {
    background: #404140;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: translateY(10px);
}

#history-section {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media screen and (max-width: 860px) {
    #history-section {
        flex-direction: column;
        justify-content: space-between;
    }
}

.history-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 820px;
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 860px) {
    .history-image {
        position: relative;
        width: 100%;
        height: 40%;
    }
}

@media screen and (max-width: 747px) {
    .history-image {
        height: 35%;
    }
}

@media screen and (max-width: 644px) {
    .history-image img {
        position: absolute;
        right: -220px;
    }
}

.history-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 40%;
    height: 80%;
    margin-left: 850px;
    margin-right: 12px;
    z-index: 2;
}

@media screen and (max-width: 1353px) {
    .history-info {
        margin-left: 400px;
        width: 60%;
        background: #ffffff99;
        padding: 0px 0px 0px 25px;
    }
}

@media screen and (max-width: 1238px) {
    .history-info {
        margin-left: 340px;
        width: 100%;
    }
}

@media screen and (max-width: 1111px) {
    .history-info {
        margin-left: 270px;
    }
}

@media screen and (max-width: 910px) {
    .history-info {
        margin-left: 150px;
    }
}

@media screen and (max-width: 860px) {
    .history-info {
        margin: 0px 0px 0px 0px !important;
        padding: 0px 40px 0px 40px !important;
        width: 100%;
        height: 60%;
        align-items: center;
    }
}

@media screen and (max-width: 747px) {
    .history-info {
        height: 65%;
    }
}

.history-info h2 {
    color: #0c4c91;
    font-size: 40pt;
    text-align: left;
}

@media screen and (max-width: 860px) {
    .history-info h2 {
        text-align: center;
    }
}

.history-info p {
    color: #0c4c91;
    font-size: 14pt;
    text-align: left;
}

@media screen and (max-width: 860px) {
    .history-info p {
        text-align: center;
    }
}

.history-info a {
    background-color: #0c4c91;
    color: white;
    width: 180px;
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-size: 14pt;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.history-info a:hover {
    background: #404140;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transform: translateY(10px);
}